<h1 class="text-2xl mb-4">Editing entry</h1>

<form class="flex flex-col gap-2 p-4 bg-sky-100 rounded-lg w-full">
  <div class="flex gap-2 w-full">
    <label class="w-1/3" for="work_item">Work item</label>
    <input
      id="work_item"
      class="rounded-md py-1 px-2 w-2/3"
      value='{{entry["workitem"]}}'
      disabled
    />
  </div>
  <div class="flex gap-2 w-full">
    <label class="w-1/3" for="task_desc">Task description</label>
    <input
      id="task_desc"
      name="task_desc"
      class="rounded-md py-1 px-2 w-2/3"
      value='{{entry["desc"]}}'
    />
  </div>
  <div class="flex gap-2 w-full">
    <label class="w-1/3" for="task_desc">Time</label>
    <input
      id="time"
      name="time"
      class="rounded-md py-1 px-2 w-2/3"
      value='{{entry["time"]}}'
    />
  </div>
  <div class="flex gap-2 w-full align-center justify-center mt-2">
    <button
      hx-patch='/entry/{{entry["id"]}}'
      hx-target="#time-table"
      hx-swap="innerHTML"
      class="w-1/2 bg-teal-500 hover:bg-teal-700 text-white px-2 py-1 rounded-md"
    >
      Save
    </button>
    <button
      hx-get="/table?offset=0"
      hx-target="#time-table"
      class="w-1/2 bg-slate-500 hover:bg-slate-700 text-white px-2 py-1 rounded-md"
    >
      Cancel
    </button>
  </div>
</form>
