{% extends 'fragments/layout.html' %} {% block content %}

<table class="w-full table-auto rounded-md">
  <thead class="rounded-md">
    <tr class="bg-slate-500 text-white rounded-md">
      <th>ID</th>
      <th>Label</th>
      <th>Created at</th>
    </tr>
  </thead>
  <tbody>
    {% for item in items %} {% if loop.index % 2 == 0 %}

    <tr class="bg-slate-100">
      <td class="text-center">{{item["id"]}}</td>
      <td class="text-center">{{item["label"]}}</td>
      <td class="text-center">{{item["timestamp"]}}</td>
    </tr>

    {% else %}

    <tr>
      <td class="text-center">{{item["id"]}}</td>
      <td class="text-center">{{item["label"]}}</td>
      <td class="text-center">{{item["timestamp"]}}</td>
    </tr>

    {% endif %} {% endfor %}
  </tbody>
</table>

{% endblock %}
