<div
  x-data='{comment: "Click on a time for the comment to show here", open: true}'
  class="flex flex-col gap-4"
>
  <div x-show="open" class="bg-slate-700 text-white text-center p-4 rounded-md">
    <p x-text="comment"></p>
  </div>

  <table class="w-full table-auto rounded-md">
    <thead class="rounded-md">
      <tr class="bg-slate-500 text-white rounded-md">
        <th class="text-center">Work item</th>
        {% for col_label in col_labels %}
        <th class="text-sm text-center">{{col_label}}</th>
        {% endfor %}
      </tr>
    </thead>
    <tbody>
      {% for label, row in rows %}
      <tr class="{{ 'bg-slate-100' if loop.index % 2 == 0 }}">
        <th class="text-center">{{label}}</th>
        {% for item in row %}
        <td class="text-center">
          <button
            class="text-center hover:text-slate-700 duration-100 px-2"
            @click='open = true; comment = "{{item["comment"]}}"'
          >
            {{item["time"]}}
          </button>
        </td>
        {% endfor %}
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
